html {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}
canvas {
    border: 1px solid white;
}
.display {
    border: 3px solid green;
    padding: 10px;
    /*position: absolute;*/
}
#snakeimage1 img {
    width: 45px;
}
.stat {
    display: flex;
    flex-direction: row;
}
.numbers {
    padding-left: 10px;
    flex-direction: column;
}
.page {
    position: relative; /* CENTER >:c */
}